<script type="text/x-handlebars-template" id="article-list-template">
    <div class="articles">
        {{#each lists}}
            <div class="article-list article-{{id}}">
                <div class="opt-group">
                    <button class="btn btn-green small">
                        <i class="fa fa-star"></i>
                    </button>
                </div>
                <div class="article">
                    <h3>
                        <a href="#/list/view/{{id}}">{{title}}</a>
                        <div class="create-date">
                            <span><i class="fa fa-clock-o"></i> {{createDate}}</span>
                        </div>
                    </h3>
                    <p class="">{{content}}</p>
                    <p class="tags">
                        <label><i class="fa fa-tags"></i> {{tags}}</label>
                    </p>
                </div>
            </div>
        {{/each}}
    </div>
</script>